<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wishters !{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/wishtersfront/css/bootstrap.css'
        'bundles/wishtersfront/css/font-awesome.min.css'
        'bundles/wishtersfront/css/style.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="body">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            {% javascripts
            'bundles/wishtersfront/js/jquery-2.1.3.min.js'
            'bundles/wishtersfront/js/jquery.tablesorter.min.js'
            'bundles/wishtersfront/js/bootstrap.min.js'
            'bundles/wishtersblog/js/blog.js'
            %}

            <script src="{{ asset_url }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
